#!/bin/zsh
alias sshdoc="ssh avk13@shell2.doc.ic.ac.uk"
alias sicstus="rlwrap /usr/local/sicstus4.3.2/bin/sicstus"
alias localip='ifconfig | grep "inet " | grep -Fv 127.0.0.1 | awk '\''{print $2}'\'''
alias als='vim -c "$" ~/.aliases'
alias vimrc='vim ~/.vimrc'
alias zshrc='vim ~/.zshrc'

# Combine commit -am and push command
function gcamp() {
  gcam $@ && gp;
}

# Prompts with the files you are trying to delete
function rmc() {
  ls $@;
  if [ $# = 0 ]
  then
    echo "\nWarning: You are trying to delete everything in the current directory."
  fi
  echo "\nDo you want to delete these files? [y/n]: ";
  read Answer;
  if [ $Answer = 'y' ]
  then
    rm -rf $@;
    echo "\nIt's all gone.";
  else
    echo "\nPhew, good decision.";
  fi
}
